.badge-container {
  width: 150px;
  padding: 15px;
  border-radius: 30px;
}

.text-badge {
  font-size: 24px;
}

.en-cours {
  width: fit-content;
  color: orange;
  border: 1px solid orange;
  padding: 5px 8px;
}

.termine {
  width: fit-content;
  color: green;
  border: 1px solid green;
  padding: 5px 8px;
}

.archive {
  width: fit-content;
  padding: 5px 8px;
  color: var(--enhanced-color-primary);
  border: 1px solid var(--enhanced-color-primary);
}

@media screen and (max-width: 720px) {
  .text-badge {
    font-size: 16px;
  }
}