.badge-container {
  width: 150px;
  padding: 10px;
  border-radius: 30px;
}

.text-badge {
  font-size: 15px;
}

.en-cours {
  width: fit-content;
  color: orange;
  border: 1px solid orange;
  padding: 5px 8px;
}