.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 250px;
  height: 300px;
  border-radius: 8px;
  background: var(--card-background-color);
}

.card-image img {

  height: 75%;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content{
  height: 50%;
}