.field-container {
  margin-top: 30px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 16px 16px 16px 6px;
  height: 70px;
}

.field-container .icon-container {
  width: 30%;
  display: flex;
  justify-content: center;
}

.field-container .field-content {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.field-container h4, .field-container p {
  margin: 0;
}

.field-icon {
  font-size: 48px;
}

.primary {
  color: var(--enhanced-color-primary);
}

.primary .field-content p {
  color: var(--primary-color);
}

.secondary {
  color: var(--enhanced-color-secondary);
}

.secondary .field-content p {
  color: var(--primary-color);
}

@media screen and (max-width: 1500px) {
  .field-container {
    width: 90%;
  }
}

@media screen and (max-width: 850px) {
  .field-container {
    width: 100%;
  }
}