.about-me-items {
  display: flex;
  gap: 10px;
  align-items: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container .item {
  font-size: 48px;
}

.item-container p {
  margin: 0;
  color: var(--font-color-not-important);
  font-size: 12px;
}