#music-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#music-section-container h2 {
  font-size: 62px;
  margin: 0;
  text-align: center;
}

.secret-text {
  color: #050505;
  margin: 0;
}

.about-me-info-part, .about-me-music-part {
  width: 50%;
}

.about-me-info-part, .about-me-music-part {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}

.about-me-music-part {
  justify-content:flex-end;
}

.about-me-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 65%;
  height: 50%;
}

@media screen and (max-width: 1500px) {
  .about-me-info-part, .about-me-music-part {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .about-me-section-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .about-me-info-part, .about-me-music-part {
    width: 80%;
  }

  #music-section-container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 400px) {
  #music-section-container h2 {
    font-size: 24px;
  }
}