#music-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#music-section-container h2 {
  font-size: 62px;
  margin: 0;
}

.secret-text {
  color: #050505;
  margin: 0;
}

.about-me-info-part, .about-me-music-part {
  width: 50%;
}

.about-me-info-part, .about-me-music-part {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
}

.about-me-music-part {
  justify-content:flex-end;
}

hr {
  margin: 0;
}

.about-me-section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  width: 65%;
  height: 50%;
}

.about-me-section-container hr {
  height: 70%;
  color: var(--border-color);
}