#contact-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact-section-container h2 {
  font-size: 62px;
  text-align: center;
}

.logos-contact {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  font-size: 64px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.legal-mentions {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10px;
}

@media screen and (max-width: 400px){
  #contact-section-container h2 {
    font-size: 24px;
  }
}