#project-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#project-section-container h2 {
  font-size: 62px;
  margin-top: 0;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 70%;
  height: fit-content;
  max-height: 60%;
}